/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.first {
    background-color: #425b76;
}

.container.small {
    width: 70%;
}

.second {
    background-image: url('#');
}

.third {
    background-color: #f5f8fa;
}

.fourth {
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);:
}

.fifth {
    background-color: #ffffff;
}

.sixth {
    background-color: #33475b;
}
